{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ title }}</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'action': cow is defined ? path('cow_edit', {id: cow.id}) : path('cow_new'), 'method': 'POST'}) }}
                        <div class="row g-3">
                            <div class="col-md-6">
                                {{ form_label(form.code) }}
                                {{ form_widget(form.code) }}
                                {{ form_errors(form.code) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.birthDate) }}
                                {{ form_widget(form.birthDate) }}
                                {{ form_errors(form.birthDate) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.milkLitersPerWeek) }}
                                {{ form_widget(form.milkLitersPerWeek) }}
                                {{ form_errors(form.milkLitersPerWeek) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.rationKgPerWeek) }}
                                {{ form_widget(form.rationKgPerWeek) }}
                                {{ form_errors(form.rationKgPerWeek) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.weightKg) }}
                                {{ form_widget(form.weightKg) }}
                                {{ form_errors(form.weightKg) }}
                            </div>
                            <div class="col-12">
                                {{ form_label(form.farm) }}
                                {{ form_widget(form.farm) }}
                                {{ form_errors(form.farm) }}
                            </div>
                        </div>
                        <div class="d-flex gap-2 mt-4">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <a href="{{ path('cow_index') }}" class="btn btn-secondary">Cancelar</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}